<div style="padding: 20px;">
  <h1 style="color: blue">{{ title }}</h1>
  <h3>{{ description }}</h3>
  <nav>
    <span style="padding:10px">
      <a
        routerLink="customer"
        class="btn btn-dark active"
        role="button"
        routerLinkActive="active"
      >
        Customers
      </a>
    </span>
    <span style="padding:10px">
      <a
        routerLink="add"
        class="btn btn-warning active"
        role="button"
        routerLinkActive="active"
      >
        Add
      </a>
    </span>
    <span style="padding:10px">
      <a
        routerLink="findbyage"
        class="btn btn-primary active"
        role="button"
        routerLinkActive="active"
      >
        Search
      </a>
    </span>
  </nav>
  <router-outlet></router-outlet>
</div>
